<ion-header>
  <ion-navbar>
    <ion-title>Zawodnicy</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list inset>
    <ion-item>
      <ion-label floating>Nazwa zawodnika</ion-label>
      <ion-input [(ngModel)]='playerToAdd'></ion-input>
    </ion-item>
    <button ion-button block color='secondary' [disabled]='!playerToAdd' (click)='addPlayer()'>Dodaj</button>
    <ion-item *ngFor='let player of players; let i = index'>
      <p (click)='stagePlayer(i)'>{{player}}</p>
      <button ion-button item-end color="danger" (click)='removePlayer(player)'>X</button>
    </ion-item>
    <h1>Wybrani zawodnicy</h1>
    <ion-item item *ngFor='let player of stagedPlayers; let i = index'>
      <p [style.background-color]="i >= 2 ? 'lightgreen' : 'lightblue'" (click)='unstagePlayer(i)'>{{ player }}</p>
    </ion-item>
    <button [disabled]='stagedPlayers.length > 4' ion-button block (click)='randomiseTeams()'>Losuj drużyny</button>
  </ion-list>
</ion-content>